@use '_colors.scss';

#root, button {
  font-family: 'Kanit', sans-serif;
  color: colors.$white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: colors.$gray;
  gap: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: colors.$black;
  gap: 10px;

  .title {
    font-size: 35px;
    text-align: center;
  }

  .icon {
    border: 1px white solid;
    height: 32px;
    width: 32px;
  }

  .title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
  }

  .scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    font-size: 20px;
    @media (max-width: 590px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

}

.game-info {
  display: flex;
  justify-content: center;
}

button {
  background-color: rgba($color: colors.$teal, $alpha: 0.5);
  width: 115px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  transition: transform 100ms;
  cursor: pointer; 
}

button:hover {
  transform: translate(1px, -1px);
}

.main-content {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  gap: 20px;
  margin: 0px 15px;
}

.card {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.1s;
  
  img{
    flex-grow: 1;
    border-bottom: 1px solid black;
    height: 150px;
    background-color: colors.$white;
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$black;
    height: 50px;
  }
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}