@use '_colors.scss';

#root, button {
  font-family: pixel;
  color: colors.$text-dark;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: colors.$secondary-light;
  gap: 45px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: colors.$secondary-dark;
  gap: 10px;

  .title {
    font-size: 35px;
    text-align: center;
  }

  .icon {
    border: 1px white solid;
    height: 32px;
    width: 32px;
  }

  .title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-grow: 1;
  }

  .scoreboard {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    font-size: 20px;
  }
  
}
@media (max-width: 590px) {
  .scoreboard {
    flex-direction: column;
  }
  .title-icon {
    img {
      display: none;
    }
  }
}

.game-info {
  display: flex;
  justify-content: center;
}

button {
  background-color: rgba($color: colors.$primary-dark, $alpha: 1);
  width: 115px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  transition: transform 100ms;
  cursor: pointer; 
}

button:hover {
  transform: translate(1px, -1px);
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 50px;
  padding: 0px 50px;
}

.start-gen {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-self: center;
  align-items: center;
  text-align: center;
  gap: 20px;

  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
    height: 100px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  gap: 20px;
  margin: 0px 15px;
}

.card {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  flex-direction: column;
  border: 1px solid colors.$secondary-dark;
  background-color: colors.$primary-light;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.1s;
  
  img{
    flex-grow: 1;
    height: 150px;
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    div {
      font-size: 20px;
    }
  }
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card:active {
  transform: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid colors.$secondary-dark;
  border-top: 10px solid colors.$primary-dark;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.current-level {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$primary-dark;
  padding: 10px 0px;
  gap: 15px;
  img {
    width: 40px;
  }
  button {
    width: min-content;
  }
}